t/default_en.xml

<!ELEMENT acl         (ARRAY)*>
<!ELEMENT action      (ARRAY)*>
<!ELEMENT buttons     (ARRAY)*>
<!ELEMENT credentials (ARRAY)*>
<!ELEMENT fields      (ARRAY)*>
<!ELEMENT globals     (ARRAY)*>
<!ELEMENT keys        (ARRAY)*>
<!ELEMENT messages    (ARRAY)*>
<!ELEMENT namespace   (ARRAY)*>
<!ELEMENT vals        (ARRAY)*>
<config>
  <_vcs_default_lang>@(#)$Id: default_en.xml 1064 2010-08-06 16:27:03Z pjf $</_vcs_default_lang>
  <buttons>
    <name>app_closed.login</name>
    <error>Failed to login to the application because</error>
    <help>Reopen the application</help>
  </buttons>
  <buttons>
    <name>feedback.send</name>
    <error>Failed to send the message because</error>
    <help>Send this email to the site administrators</help>
  </buttons>
  <fields>
    <name>app_closed.passwd</name>
    <prompt>Password</prompt>
  </fields>
  <fields>
    <name>app_closed.user</name>
    <prompt>Login id</prompt>
  </fields>
  <fields>
    <name>feedback.body</name>
    <prompt>Subject:[% nbsp %]&lt;b&gt;[% html_subject %]&lt;/b&gt;</prompt>
  </fields>
  <messages>
    <name>Action [_1]/[_2] access denied</name>
    <text>You do not have access to the [_2] action in the [_1] controller</text>
  </messages>
  <messages>
    <name>Action [_1]/[_2] closed</name>
    <text>The [_2] action in the [_1] controller is closed for redecorating</text>
  </messages>
  <messages>
    <name>Add_table_row</name>
    <text>Enter a new item into the adjacent text fields and then click this button to add it to the list</text>
  </messages>
  <messages>
    <name>Application [_1] closed</name>
    <text>The [_1] application is closed for redecorating</text>
  </messages>
  <messages>
    <name>Authenticate to reopen</name>
    <text>Authenticate as an administration user to reopen the application</text>
  </messages>
  <messages>
    <name>Error 403</name>
    <text>You've been awarded error number 403 - Access Denied</text>
  </messages>
  <messages>
    <name>Error 404</name>
    <text>You've been awarded error number 404 - Page not found</text>
  </messages>
  <messages>
    <name>Error 423</name>
    <text>You've been awarded error number 423 - Action closed</text>
  </messages>
  <messages>
    <name>Error apology</name>
    <text>I'm sorry [_1], I can't do that!</text>
  </messages>
  <messages>
    <name>Invalid token</name>
    <text>The CSRF form token does not match the one that was expected</text>
  </messages>
  <messages>
    <name>Remove_table_row</name>
    <text>Select one or more items from the above list and then click this button to remove them</text>
  </messages>
  <messages>
    <name>Sort_table_rows</name>
    <text>Click to sort the table rows by this column</text>
  </messages>
  <messages>
    <name>Use feedback option</name>
    <text>Use the Feedback option on the help menu to report any problems
      your are having to the support team</text>
  </messages>
  <messages>
    <name>aboutCompanyTip</name>
    <text>About this company</text>
  </messages>
  <messages>
    <name>aboutOptionText</name>
    <text>About</text>
  </messages>
  <messages>
    <name>aboutOptionTip</name>
    <text>Copyright and author information</text>
  </messages>
  <messages>
    <name>accountVerification</name>
    <text>[_1] account verification required</text>
  </messages>
  <messages>
    <name>changeSkinAltText</name>
    <text>Skin</text>
  </messages>
  <messages>
    <name>changeSkinAltTip</name>
    <text>Change the current skin to this alternative</text>
  </messages>
  <messages>
    <name>changeSkinDefaultText</name>
    <text>Default Skin</text>
  </messages>
  <messages>
    <name>changeSkinDefaultTip</name>
    <text>Change the current skin back to the system default</text>
  </messages>
  <messages>
    <name>contextHelpText</name>
    <text>Context Help</text>
  </messages>
  <messages>
    <name>contextHelpTip</name>
    <text>Provides help text on this page</text>
  </messages>
  <messages>
    <name>dateWidgetTip</name>
    <text>Click the calendar icon to open a date selection window</text>
  </messages>
  <messages>
    <name>debugOffText</name>
    <text>Debug Off</text>
  </messages>
  <messages>
    <name>debugOnText</name>
    <text>Debug On</text>
  </messages>
  <messages>
    <name>debugToggleTip</name>
    <text>Debug mode generates more output in the log files</text>
  </messages>
  <messages>
    <name>defTextPrompt</name>
    <text>Enter value for </text>
  </messages>
  <messages>
    <name>displayOptionsTip</name>
    <text>Display options</text>
  </messages>
  <messages>
    <name>eMandatory</name>
    <text>Required field has no value</text>
  </messages>
  <messages>
    <name>eNotImplemented</name>
    <text>Method not implemented</text>
  </messages>
  <messages>
    <name>eValidEmail</name>
    <text>Not a valid email address</text>
  </messages>
  <messages>
    <name>eValidIdentifier</name>
    <text>Not a valid identifier</text>
  </messages>
  <messages>
    <name>eValidPassword</name>
    <text>Not a valid password</text>
  </messages>
  <messages>
    <name>elapsedTime</name>
    <text>Elapsed time since previous update</text>
  </messages>
  <messages>
    <name>exitTip</name>
    <text>Exit the application and reset your identity to unknown</text>
  </messages>
  <messages>
    <name>feedback.subject</name>
    <text>[_1] feedback for [_2]</text>
  </messages>
  <messages>
    <name>feedback.title</name>
    <text>Email Feedback</text>
  </messages>
  <messages>
    <name>feedbackOptionText</name>
    <text>Feedback</text>
  </messages>
  <messages>
    <name>feedbackOptionTip</name>
    <text>Share your experiences of this site with its administrators</text>
  </messages>
  <messages>
    <name>feedbackTip</name>
    <text>Share your surfing experience of this web site with its developers and administrators</text>
  </messages>
  <messages>
    <name>fieldPromptWidthTip</name>
    <text>Decrease/Increase the size of the field prompts on forms</text>
  </messages>
  <messages>
    <name>first_page_anchor</name>
    <text>First</text>
  </messages>
  <messages>
    <name>footerOffText</name>
    <text>Footer Off</text>
  </messages>
  <messages>
    <name>footerOnText</name>
    <text>Footer On</text>
  </messages>
  <messages>
    <name>footerToggleTip</name>
    <text>Toggle the display state of the footer bar</text>
  </messages>
  <messages>
    <name>freelistAddTip</name>
    <text>Enter a new item into the adjacent text field and then click this button to add it to the list</text>
  </messages>
  <messages>
    <name>freelistRemoveTip</name>
    <text>Select one or more items from the adjacent list and then click this button to remove them</text>
  </messages>
  <messages>
    <name>groupMembershipAddTip</name>
    <text>Select one or more entries from the list on the left and then click this button to add them to the list on the right</text>
  </messages>
  <messages>
    <name>groupMembershipRemoveTip</name>
    <text>Select one or more entries from the list on the right and then click this button to remove them</text>
  </messages>
  <messages>
    <name>handy_hint_title</name>
    <text>Hint</text>
  </messages>
  <messages>
    <name>helpOptionTip</name>
    <text>Help options</text>
  </messages>
  <messages>
    <name>isMandatory</name>
    <text>Mandatory field is null</text>
  </messages>
  <messages>
    <name>isValidEmail</name>
    <text>Not a valid email address</text>
  </messages>
  <messages>
    <name>isValidIdentifier</name>
    <text>Field value contains illegal characters or is null</text>
  </messages>
  <messages>
    <name>isValidInteger</name>
    <text>Field value is not a valid integer or is not in the required range</text>
  </messages>
  <messages>
    <name>isValidPassword</name>
    <text>Field value is not a valid password</text>
  </messages>
  <messages>
    <name>last_page_anchor</name>
    <text>Last</text>
  </messages>
  <messages>
    <name>levelVersion</name>
    <text>The version number of the [% ns %] controller</text>
  </messages>
  <messages>
    <name>logoTip</name>
    <text>Go to this servers home page</text>
  </messages>
  <messages>
    <name>moduleVersion</name>
    <text>The version number of the [% application %] application</text>
  </messages>
  <messages>
    <name>next_page_anchor</name>
    <text>Next</text>
  </messages>
  <messages>
    <name>pageGenerated</name>
    <text>Date and time this page was generated</text>
  </messages>
  <messages>
    <name>page_prompt</name>
    <text>Page</text>
  </messages>
  <messages>
    <name>previous_page_anchor</name>
    <text>Previous</text>
  </messages>
  <messages>
    <name>search_results</name>
    <text>Displaying page [_1] of [_2] containing [_3] of [_4] total hits. </text>
  </messages>
  <messages>
    <name>sidebarBlankContent</name>
    <text>This panel intentionally left blank</text>
  </messages>
  <messages>
    <name>sidebarBlankHeader</name>
    <text>Empty</text>
  </messages>
  <messages>
    <name>sidebarTip</name>
    <text>Menu Bar ~ Navigate around the actions in this controller using the links on this menu bar. Clicking this bullet expands/collapses the side bar display panel</text>
  </messages>
  <messages>
    <name>vPasswordPrompt</name>
    <text> and again </text>
  </messages>
  <messages>
    <name>yourIdentity</name>
    <text>Your current identity</text>
  </messages>
  <namespace>
    <name>admin</name>
    <text>Admin</text>
    <tip>Command and control centre</tip>
  </namespace>
  <namespace>
    <name>entrance</name>
    <text>Home</text>
    <tip>Start here if you are new to this site</tip>
  </namespace>
  <namespace>
    <name>library</name>
    <text>Library</text>
    <tip>Documentation and Content Management</tip>
  </namespace>
</config>
