t/default.xml

<!ELEMENT acl         (ARRAY)*>
<!ELEMENT action      (ARRAY)*>
<!ELEMENT buttons     (ARRAY)*>
<!ELEMENT credentials (ARRAY)*>
<!ELEMENT fields      (ARRAY)*>
<!ELEMENT globals     (ARRAY)*>
<!ELEMENT keys        (ARRAY)*>
<!ELEMENT messages    (ARRAY)*>
<!ELEMENT namespace   (ARRAY)*>
<!ELEMENT vals        (ARRAY)*>
<config>
  <_vcs_default>@(#)$Id: default.xml 474 2008-09-01 22:48:04Z pjf$</_vcs_default>
  <action>
    <name>feedback</name>
    <acl>@users</acl>
    <state>1</state>
  </action>
  <action>
    <name>lock_display</name>
    <acl>@support</acl>
    <state>1</state>
  </action>
  <fields>
    <name>app_closed.passwd</name>
    <type>password</type>
  </fields>
  <fields>
    <name>app_closed.user</name>
    <width>20</width>
  </fields>
  <fields>
    <name>feedback.body</name>
    <height>24</height>
    <palign>left</palign>
    <sep>&amp;#160;&amp;#160;&amp;#160;</sep>
    <type>textarea</type>
    <width>72</width>
  </fields>
  <fields>
    <name>overview</name>
    <type>template</type>
  </fields>
  <globals>
    <name>addtag</name>
    <value>..Add..</value>
  </globals>
  <globals>
    <name>app_closed</name>
  </globals>
  <globals>
    <name>application</name>
    <value>MyApp</value>
  </globals>
  <globals>
    <name>company</name>
    <value>RoxSoft</value>
  </globals>
  <globals>
    <name>copyright</name>
    <value>Copyright (c) 2010 Peter Flanigan</value>
  </globals>
  <globals>
    <name>feedback_email</name>
    <value>support@roxsoft.co.uk</value>
  </globals>
  <globals>
    <name>logo</name>
    <value>logo.png</value>
  </globals>
  <globals>
    <name>mailer</name>
    <value>SMTP</value>
  </globals>
  <globals>
    <name>mailer_host</name>
    <value>rolling.roxsoft.group</value>
  </globals>
  <globals>
    <name>max_sess_time</name>
    <value>7200</value>
  </globals>
  <globals>
    <name>newtag</name>
    <value>..New..</value>
  </globals>
  <globals>
    <name>pwidth</name>
    <value>40</value>
  </globals>
  <globals>
    <name>ssh_id</name>
    <value>/opt/app-munchies/.ssh/id_rsa</value>
  </globals>
  <namespace>
    <name>admin</name>
    <acl>@support</acl>
    <state>0</state>
  </namespace>
  <namespace>
    <name>entrance</name>
    <acl>any</acl>
    <state>0</state>
  </namespace>
  <namespace>
    <name>library</name>
    <acl>any</acl>
    <state>0</state>
  </namespace>
</config>
